@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', cursive;
}

p,
ul,
li {
    font-family: 'Adamina', serif;
}

body {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Style main */

.main-content {
    min-height: 100vh;
}

/* Style footer */
footer {
    padding: 2rem 2rem 1rem 2rem;
    background-color: #cccccc;
}

.footer {
    max-width: 100%;
    text-align: center;
}

footer .icon-bar {
    margin-top: 1rem;
}


/* presentation.html.twig */

.presentation-image {
    max-width: 300px;
}

.hero-image {
    background-color: #cccccc;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.playing-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 61px;
    height: 81px;
    margin: 0.2rem;
}

/* Style form JSON API kmom02 */
.form-api {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(32, 178, 171, 0.196);
    width: 32rem;
}

input,
label {
    width: 30rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

/* Flash messages style */
.flash-success,
.flash-notice,
.flash-warning,
.flash-error {
    width: 30rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Kmom03 Game21 */
.player {
    border: 1px solid seagreen;
    border-radius: 5px;
    padding: 1rem;
    background-color: #eee;
    width: 32rem;
    margin-bottom: 1rem;
}

@media (max-width: 667px) {
    .form-api,
    form,
    input,
    label,
    .player,
    .flash-success,
    .flash-notice,
    .flash-warning,
    .flash-error {
        width: 100%;
    }
}

/* game.html.twig */
.game.start {
    display: inline-block;
    font-size: 1.2rem;
}

input[type=submit] {
    max-width: 10rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.before {
    color: red;
}

.after {
    color: green;
}
.custom-card {
    display: flex;
}

.item {
    width: calc(100% / 2);
}

.card-text {
    padding: 1%;
    color: #eee;
    text-shadow: 1px 1px #1c1407;
    letter-spacing: 1.3px;
}

.card-text,
p,
.font-p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.font-p {
    color: #333;
}

.card-text h1,
.font-h1 {
    font-family: 'Lora', serif;
    font-size: 2.2rem;
}

.font-h2 {
    font-family: 'Lora', serif;
    font-size: 2rem;
}


.custom-card {
    background-color: darkslategray;
    padding: 10%;
}

/*
/proj/about
templates/project/about.html.twig
*/

.about-circle {
    margin: auto;
    max-width: 80%;
    background-color: #BF8B2E;
    border-radius: 80px;
    padding: 10%;
}

.about-circle .about-logo{
    margin: auto;
    max-width: 30%;
    padding: 5%;
}

.about-circle p {
    text-shadow: 1px 1px #af7e2a;
    color: #FFFFFF;
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
}

.about-circle .font-h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.font-p a {
    color: #fff;
}
/*
templates/project/food.html.twig
*/
#food,
#textile {
    margin-block: 5%;
}

/*
navigation
 */
.navigation-body {
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    height: min-content;
    background-color: transparent;
}

.navigation-body, .navigation, #menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navigation {
    position: relative;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

#menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.navigation input:checked ~ #menu {
    width: 500px;
    font-size: 1rem;
}

#menu li {
    list-style: none;
    margin: 0 10px;
}

#menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

#menu li a:hover {
    color: #161919;
}

.navigation input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 0;
}

.navigation span {
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.navigation input:checked ~ span {
    background-color: #f974a1;
}

.navigation span:nth-child(2) {
    transform: translateY(-8px);
}

.navigation input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.navigation span:nth-child(3) {
    transform: translateY(8px);
}

.navigation input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
