@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', cursive;
}

p,
ul,
li {
    font-family: 'Adamina', serif;
}

body {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Style main */

.main-content {
    min-height: 100vh;
}

/* Style footer */
footer {
    padding: 2rem 2rem 1rem 2rem;
    background-color: #cccccc;
}

.footer {
    max-width: 100%;
    text-align: center;
}

footer .icon-bar {
    margin-top: 1rem;
}


/* presentation.html.twig */

.presentation-image {
    max-width: 300px;
}

.hero-image {
    background-color: #cccccc;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.playing-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 61px;
    height: 81px;
    margin: 0.2rem;
}

/* Style form JSON API kmom02 */
.form-api {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(32, 178, 171, 0.196);
    width: 32rem;
}

input,
label {
    width: 30rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

/* Flash messages style */
.flash-success,
.flash-notice,
.flash-warning,
.flash-error {
    width: 30rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Kmom03 Game21 */
.player {
    border: 1px solid seagreen;
    border-radius: 5px;
    padding: 1rem;
    background-color: #eee;
    width: 32rem;
    margin-bottom: 1rem;
}

@media (max-width: 667px) {
    .form-api,
    form,
    input,
    label,
    .player,
    .flash-success,
    .flash-notice,
    .flash-warning,
    .flash-error {
        width: 100%;
    }
}