@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

h1,
h2,
h3,
h4 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Adamina', serif;
}

body {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Style main */

.main-content {
    min-height: 100vh;
}

/* Style footer */
footer {
    padding: 2rem 2rem 1rem 2rem;
    background-color: #cccccc;
}

.footer {
    max-width: 100%;
    text-align: center;
}

footer .icon-bar {
    margin-top: 1rem;
}


/* presentation.html.twig */

.presentation-image {
    max-width: 300px;
}

.hero-image {
    background-color: #cccccc;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.playing-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 61px;
    height: 81px;
    margin: 0.2rem;
}
