{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1 class="display-4">Redovisning</h1>
        <hr class="my-4">
        <div class="row my-5">
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#kmom01" class="list-group-item list-group-item-action active" aria-current="true">
                    Kmom01
                    </a>
                    <a href="#kmom02" class="list-group-item list-group-item-action">Kmom02</a>
                    <a href="#kmom03" class="list-group-item list-group-item-action">Kmom03</a>
                    <a href="#kmom04" class="list-group-item list-group-item-action">Kmom04</a>
                    <a href="#kmom05" class="list-group-item list-group-item-action">Kmom05</a>
                    <a href="#kmom06" class="list-group-item list-group-item-action">Kmom06</a>
                </div>
            </div>
            <div class="col-sm-8">
                <h2 id="kmom01">Kmom01</h2>
                <p>Redovisning</p>
                <h2 id="kmom02">Kmom02</h2>
                <p>Redovisning</p>
                <h2 id="kmom03">Kmom03</h2>
                <p>Redovisning</p>
                <h2 id="kmom04">Kmom04</h2>
                <p>Redovisning</p>
                <h2 id="kmom05">Kmom05</h2>
                <p>Redovisning</p>
                <h2 id="kmom06">Kmom06</h2>
                <p>Redovisning</p>
            </div>
        </div>
    </div>

{% endblock %}