{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('book_create_get') }}">Create a new book</a></li>
        <li><a href="{{ path('book_create_get') }}">Create a new book</a></li>
        <li><a href="{{ path('book_create_get') }}">Create a new book</a></li>
    </ul>
{% endblock %}
