{% extends "base.html.twig" %}

{% block title %} Hållbarhet | Om {% endblock %}

{% block body %}
    <div class="container my-5">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('project') }}">Hem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('food') }}">Matavfall och matsvin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('textile') }}">Textilkonsumption</a>
                    </li>
                </ul>
            </div>
        <h1>Hållbar konsumtion och produktion</h1>
        <h2>Om projektet</h2>
        <p>Jag har valt att adressera ett av de centrala globala målen - "Hållbar konsumtion och produktion". Tanken är att skapa en medvetenhet om och främja förändringar i hur vi konsumerar och producerar varor och tjänster för att minska vår påverkan på planeten.
        </p>
        <p>På webbplatsen presenteras två grafer som visualiserar livsmedelsavfall och textilkonsumtion i Sverige. Datat som används för graferna hämtas från www.naturvardsverket.se.</p>
    </div>

{% endblock %}
