{% extends "base.html.twig" %}

{% block title %} Hållbar utvecklig | Hem {% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="navigation-body">
            <div class="navigation">
                <input type="checkbox">
                <span></span>
                <span></span>
                <div id="menu">
                    <li>
                        <a href="{{ path('sustainability') }}">Om</a>
                    </li>
                    <li>
                        <a href="{{ path('food') }}">Livsmedelsavfall</a>
                    </li>
                    <li>
                        <a href="{{ path('textile') }}">Textilkonsumption</a>
                    </li>
                </div>
        </div>
        </div>
            <div class="custom-card">
                <div class="card-text item">
                    <h1>Hållbar utvecklig</h1>
                    <p>Hållbar utveckling är inte bara en trendig fras, det är en viktig vision som formar vår gemensamma framtid. Det handlar om att balansera våra ekonomiska, sociala och miljömässiga behov för att säkerställa en livskraftig planet för kommande generationer.</p>
                </div>
                <div class="card-img item">
                    <img src="{{ asset('img/sustainability_medium.jpg') }}" alt="A tree sprout growing between two palms." max-width="500">
                </div>
            </div>
    </div>

{% endblock %}
